{% extends 'administrator/base.html' %}
{% block content %}

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form method="post" action="/information-edit/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          {{form}}
          <!-- <label for="title" class="">Title</label>
          <input type="text" class="form-control" name="title" value="">
        </div>
        <div class="form-group">
          <label for="body" class="">Body</label>
          <textarea name="body" class="form-control" rows="10" cols="50">

          </textarea>
        </div>
        <div class="form-group">
          <!-- add thumbnail of image -->
          <!-- <label for="picture" class="">Image</label>
          <input type="file" class="form-control" name="picture"> -->
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
    </div><!-- col-sm-8 -->
  </div><!-- row -->

{% endblock %}
