{% extends 'administrator/base.html' %}
{% block content %}

  <div class="row">
    <div class="col-sm-12">
      <form method="post" action="#">
        {% csrf_token %}
        <table>
          <tr>
            <th>
              Menu Item
            </th>
            <th>
              Menu Price
            </th>
            <th>
            </th>
          </tr>
          <tr>
            <td>
              <input type="text" name="menu1" class="" value="">
            </td>
            <td>
              <input type="number" name="price1" class="col-sm-6" value="">
            </td>
            <td>
              <a href="#" class="btn btn-danger" >
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" name="menu2" class="" value="">
            </td>
            <td>
              <input type="number" name="price2" class="col-sm-6" value="">
            </td>
            <td>
              <a href="#" class="btn btn-danger" >
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" name="menu3" class="" value="">
            </td>
            <td>
              <input type="number" name="price3" class="col-sm-6" value="">
            </td>
            <td>
              <a href="#" class="btn btn-danger" >
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" name="menu4" class="" value="">
            </td>
            <td>
              <input type="number" name="price4" class="col-sm-6" value="">
            </td>
            <td>
              <a href="#" class="btn btn-danger" >
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" name="menu5" class="" value="">
            </td>
            <td>
              <input type="number" name="price5" class="col-sm-6" value="">
            </td>
            <td>
              <a href="#" class="btn btn-danger" >
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" name="menu6" class="" value="">
            </td>
            <td>
              <input type="number" name="price6" class="col-sm-6" value="">
            </td>
            <td>
              <a href="#" class="btn btn-danger" >
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div><!-- row -->

{% endblock %}
