{% extends 'administrator/base.html' %}
{% block content %}

  <div class="row">
    <div class="col-sm-12">
      <form method="post" action="#">
        {% csrf_token %}
        <div class="col-sm-4">
          <img src="http://hydra-media.cursecdn.com/ark.gamepedia.com/thumb/2/2c/Allosaurus_Dossier.png/314px-Allosaurus_Dossier.png?version=be6fe749f2a878f2df032368695aabd9" class="">
          <label for="alt1">Alt description</label>
          <input type="text" name="alt1">
          <input type="checkbox" name="check1" id="check1">
          <label for="order1">Sort Order</label>
          <input type="number" name="order1">
        </div>
        <div class="col-sm-4">
          <img src="http://hydra-media.cursecdn.com/ark.gamepedia.com/thumb/5/5c/Baryonyx_Dossier.jpeg/314px-Baryonyx_Dossier.jpeg?version=f4cd1d8e4e44fbbc1e305ca48224be09" class="">
          <label for="alt1">Alt description</label>
          <input type="text" name="alt2">
          <input type="checkbox" name="check2" id="check2">
          <label for="order2">Sort Order</label>
          <input type="number" name="order2">
        </div>
        <div class="col-sm-4">
          <img src="http://hydra-media.cursecdn.com/ark.gamepedia.com/thumb/4/42/Dossier_Carnotaurus.png/314px-Dossier_Carnotaurus.png?version=372c613ca587aab7f0d668039936ec92" class="">
          <label for="alt1">Alt description</label>
          <input type="text" name="alt3">
          <input type="checkbox" name="check3" id="check3">
          <label for="order3">Sort Order</label>
          <input type="number" name="order3">
        </div>
        <div class="col-sm-4">
          <img src="http://hydra-media.cursecdn.com/ark.gamepedia.com/thumb/3/3c/Compy_Dossier.png/314px-Compy_Dossier.png?version=094fe9a64b527d308c892652ad3b8de8" class="">
          <label for="alt1">Alt description</label>
          <input type="text" name="alt4">
          <input type="checkbox" name="check4" id="check4">
          <label for="order4">Sort Order</label>
          <input type="number" name="order4">
        </div>
        <div class="col-sm-4">
          <img src="http://hydra-media.cursecdn.com/ark.gamepedia.com/thumb/d/d2/Dossier_Raptor.png/314px-Dossier_Raptor.png?version=3c060a7d4434dd7aaa803416d683c476" class="">
          <label for="alt1">Alt description</label>
          <input type="text" name="alt5">
          <input type="checkbox" name="check5" id="check5">
          <label for="order5">Sort Order</label>
          <input type="number" name="order5">
        </div>
        <div class="col-sm-4">
          <img src="http://hydra-media.cursecdn.com/ark.gamepedia.com/thumb/2/2d/Dossier_Trex.png/314px-Dossier_Trex.png?version=541162fbf6177f7fa97636147c3af432" class="">
          <label for="alt1">Alt description</label>
          <input type="text" name="alt6">
          <input type="checkbox" name="check6" id="check6">
          <label for="order6">Sort Order</label>
          <input type="number" name="order6">
        </div>
      </form>
    </div>
  </div><!-- row -->

{% endblock %}
